header {
  position: relative;
}

anka-locale {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
}

.header-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  z-index: 1;

  .dates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    div {
      backdrop-filter: blur(2px);
      background-color: rgb(255 255 255 / 40%);
      border-radius: 0.25em;
      padding: 0.25em 0.5em;
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 600px) {
        font-size: 1.5rem;
      }

      span:first-child {
        font-size: 2rem;

        @media (min-width: 600px) {
          font-size: 3rem;
        }
      }
    }
  }
}
.img-title {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.header-bg {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

.header-actions > * {
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 40%);
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 1em;
  cursor: pointer;

  @media (min-width: 500px) {
    font-size: 1.5em;
  }
}

/* a.form-link {
  font-size: 2em;

  &:hover,
  &:focus-visible {
    font-size: 2.2em;
    margin: 0.8em;
  }
} */
