<header *transloco="let t; prefix: 'header'">
  <anka-locale />
  <owl-carousel-o [options]="customOptions">
    @for (slide of slides(); track slide.id) {
      <ng-template carouselSlide [id]="slide.id">
        <div
          class="header-bg"
          [style.background-image]="'url(' + slide.src + ')'"
        ></div>
      </ng-template>
    }
  </owl-carousel-o>
  <div class="header-container" *transloco="let t; prefix: 'header'">
    <div class="dates">
      <div>
        <span>20/09/26</span>
        <span>{{ t("hardoy") }}</span>
      </div>
      <div>
        <span>26/09/26</span>
        <span>{{ t("quintaou") }}</span>
      </div>
    </div>

    <img
      class="img-title"
      src="images/title.png"
      alt="Angeluko Kabalkada"
      width="400"
      height="128"
    />
    <!--<anka-register></anka-register>-->
  </div>
  <!--<div class="countdown-container">
    @for (
      headerAction of headerActions();
      track headerAction.id;
      let headerActionIndex = $index
    ) {
      <div (click)="openAction(headerActionIndex)">
        {{ headerAction | locale: "title" }}
      </div>
    }-->

  <!--
          <div>Kabalkada</div>
    <div>Nola</div>
    <anka-countdown [date]="date1" />
    <anka-countdown [date]="date2" />
    -->
  <!--</div>-->
  <div class="header-actions">
    <div (click)="openAction(1)">{{ t("cavalcade") }}</div>
    <div (click)="scrollToHelpUs()">{{ t("help-us") }}</div>
  </div>
</header>
