header {
  padding: 1em;
}

h1 {
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-size: 3rem;

  .title-an {
    color: var(--grey-color);
    font-weight: 500;
    margin-right: 0.3em;
  }

  .title-ka {
    color: var(--red-color);
    font-weight: bold;
    margin-right: 0.3em;
  }

  .title-year {
    color: var(--pink-color);
    font-weight: bold;
  }
}
