<header>
  <anka-locale />
  <owl-carousel-o [options]="customOptions">
    @for (slide of slides(); track slide.id) {
      <ng-template carouselSlide [id]="slide.id">
        <div
          class="header-bg"
          [style.background-image]="'url(' + slide.src + ')'"
        ></div>
      </ng-template>
    }
  </owl-carousel-o>
  <div class="h1-container">
    <h1>
      <span class="title-year">
        @if (localeService.locale() === "FR") {
          20-26/09/2026
        } @else {
          2026/09/20-26
        }
      </span>
    </h1>
    <h1>
      <span class="title-an">Angeluko</span>
      <span class="title-ka">Kabalkada</span>
    </h1>
    <!--<anka-register></anka-register>-->
  </div>
  <!--<div class="countdown-container">
    @for (
      headerAction of headerActions();
      track headerAction.id;
      let headerActionIndex = $index
    ) {
      <div (click)="openAction(headerActionIndex)">
        {{ headerAction | locale: "title" }}
      </div>
    }-->

  <!--
          <div>Kabalkada</div>
    <div>Nola</div>
    <anka-countdown [date]="date1" />
    <anka-countdown [date]="date2" />
    -->
  <!--</div>-->
  <div class="header-actions">
    <div (click)="openAction(1)">Cavalcade</div>
    <div (click)="scrollToHelpUs()">Nous aider</div>
  </div>
</header>
