header {
  position: relative;
}

anka-locale {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 2;
}

.h1-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

h1 {
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 40%);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-size: 1.5rem;
  display: inline-block;
  font-weight: bold;

  @media (min-width: 400px) {
    font-size: 2rem;
  }

  @media (min-width: 500px) {
    font-size: 2.5rem;
  }

  @media (min-width: 700px) {
    font-size: 3rem;
  }

  @media (min-width: 1100px) {
    font-size: 4rem;
  }

  .title-an {
    color: var(--grey-color);
    margin-right: 0.3em;
  }

  .title-ka {
    color: var(--red-color);
    margin-right: 0.3em;
  }

  .title-year {
    color: var(--red-color);
  }
}

.header-bg {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.countdown-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
}

anka-countdown {
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 40%);
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 1em;

  @media (min-width: 500px) {
    font-size: 2em;
  }
}

.countdown-container div {
  backdrop-filter: blur(2px);
  background-color: rgb(255 255 255 / 40%);
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em 1em;
  cursor: pointer;

  @media (min-width: 500px) {
    font-size: 1.5em;
  }
}

/* a.form-link {
  font-size: 2em;

  &:hover,
  &:focus-visible {
    font-size: 2.2em;
    margin: 0.8em;
  }
} */