<header *transloco="let t; prefix: 'header'">
  <anka-locale />
  <owl-carousel-o [options]="customOptions">
    @for (slide of slides(); track slide.id) {
      <ng-template carouselSlide [id]="slide.id">
        <div
          class="header-bg"
          [style.background-image]="'url(' + slide.src + ')'"
        ></div>
      </ng-template>
    }
  </owl-carousel-o>
  <div class="header-container" *transloco="let t; prefix: 'header'">
    <div class="dates">
      <div>
        <span>20/09/26</span>
        <span>{{ t("hardoy") }}</span>
      </div>
      <div>
        <span>26/09/26</span>
        <span>{{ t("quintaou") }}</span>
      </div>
    </div>
    <img
      class="img-title"
      src="images/title.webp"
      alt="Angeluko Kabalkada"
      width="700"
      height="260"
      loading="eager"
      fetchpriority="high"
      (click)="openImageDialog()"
      style="cursor: pointer"
    />
  </div>
  <div class="header-actions">
    <div (click)="openAction(0)">{{ t("cavalcade") }}</div>
    <div (click)="scrollToHelpUs()">{{ t("help-us") }}</div>
  </div>
</header>
