footer {
  background-color: var(--bg-color-footer);
  padding: 1em 0;
  min-height: 120px;
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    padding: 1em;
  }

  @media screen and (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-around;
  }

  > div {
    padding: 0 1em;
  }

  h3 {
    color: var(--red-color);
  }

  ul {
    list-style: none;
    padding: 0;
    color: var(--grey-color);
    margin-top: 0;

    li {
      a {
        color: inherit;
        text-decoration: none;
        padding: 0.5em 0;
        line-height: 2em;

        &:hover,
        &:focus-visible {
          text-decoration: underline;
        }
      }
    }
  }
}
