<main>
  @for (bodySection of bodySections(); track bodySection.id; let index = $index)
  {
  <section>
    <h2>{{ bodySection | locale : "title" }}</h2>
    <markdown
      [data]="bodySection | locale : 'markdown'"
      [disableSanitizer]="true"
    />
    @if(bodySection.keywords && bodySection.keywords!.length > 0) {
    <div class="keywords">
      @for(keyword of bodySection.keywords; track keyword.id) {
      <button (click)="openKeyword(keyword)">
        {{ keyword | locale : "card" }}
      </button>
      }
    </div>
    } @if(bodySection | locale : "footer") {
    <div class="section-footer">
      <span>{{ bodySection | locale : "footer" }}</span>
    </div>
    }
  </section>
  }
</main>
