<main>
  @for (
    bodySection of bodySections();
    track $index;
    let sectionIndex = $index
  ) {
    <section>
      <h2>{{ bodySection | locale: "title" }}</h2>
      <markdown
        [data]="bodySection | locale: 'markdown'"
        [disableSanitizer]="true"
      />
      @if (bodySection.keywords && bodySection.keywords!.length > 0) {
        <div class="keywords">
          @for (
            keyword of bodySection.keywords;
            track $index;
            let keywordIndex = $index
          ) {
            <button (click)="openKeyword(bodySection.keywords, keywordIndex)">
              @if (keyword.imageUrl) {
                <img
                  src="{{ keyword.imageUrl }}"
                  alt="{{ keyword | locale: 'card' }}"
                  loading="lazy"
                />
              }
              {{ keyword | locale: "card" }}
            </button>
          }
        </div>
      }
      @if (bodySection | locale: "footer") {
        <div class="section-footer">
          <span>{{ bodySection | locale: "footer" }}</span>
        </div>
      }
    </section>
  }
</main>
