<section *transloco="let t; prefix: 'help-us'">
  <h2 id="help-us">{{ t("title") }}</h2>
  <div class="help-us-container">
    <div>
      <h3>{{ t("individuals") }}</h3>
      <markdown [data]="t('individuals-markdown')"></markdown>
      <iframe
        allowtransparency="true"
        src="https://www.helloasso.com/associations/angeluko-kabalkada/formulaires/1/widget-bouton"
        class="helloasso-iframe"
      ></iframe>
    </div>
    <div>
      <h3>{{ t("businesses") }}</h3>
      <markdown [data]="t('businesses-markdown')"></markdown>
      <div class="button-container">
        <a
          mat-flat-button
          color="primary"
          href="https://forms.gle/gCdNRg5NowYb2hec6"
          target="_blank"
        >
          {{ t("ask-more-infos") }}
        </a>
      </div>
    </div>
  </div>
</section>
