<section>
  <h2 id="help-us">Nous aider</h2>
  <div class="help-us-container">
    <div>
      <h3>Particuliers</h3>
      <iframe
        id="haWidget"
        allowtransparency="true"
        src="https://www.helloasso.com/associations/angeluko-kabalkada/formulaires/1/widget-bouton"
        style="width: 100%; height: 70px; border: none"
      ></iframe>
    </div>
    <div>
      <h3>Entreprises</h3>
      <a class="form-link" href="https://forms.gle/gCdNRg5NowYb2hec6" target="_blank">
        Demander plus d'informations
      </a>
    </div>
  </div>
</section>
