section {
  background-color: var(--grey-color);
}

.help-us-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    flex-direction: row;
  }

  > div {
    flex: 1;
    margin-left: 1em;
    margin-right: 1em;
  }
}

.helloasso-iframe {
  width: 100%;
  height: 70px;
  border: none;
}

.button-container {
  display: flex;
  justify-content: center;
}
