<section *transloco="let t; prefix: 'help-us'">
  <h2 id="help-us">{{ t("title") }}</h2>
  <div class="help-us-container">
    <div>
      <h3>{{ t("individuals") }}</h3>
      <ul style="font-size: 0.95em; list-style-type:none">
        <li>{{ t("individuals-line1") }}</li>
        <li>&nbsp;</li>
        <li>{{ t("individuals-line2") }}</li>
        <li>&nbsp;</li>
        <li>{{ t("individuals-line3") }}</li>
        <li>&nbsp;</li>
        <li>{{ t("individuals-line4") }}</li>
        <li>&nbsp;</li>
        <li>{{ t("individuals-line5") }}</li>
      </ul>
      <iframe
        allowtransparency="true"
        src="https://www.helloasso.com/associations/angeluko-kabalkada/formulaires/1/widget-bouton"
        style="width: 100%; height: 70px; border: none"
      ></iframe>
    </div>
    <div>
      <h3>{{ t("businesses") }}</h3>
      <ul style="font-size: 0.95em; list-style-type:none">
        <li>{{ t("businesses-introduction-line1") }}</li>
        <li>&nbsp;</li>
        <li>{{ t("businesses-introduction-line2") }}</li>
        <li>&nbsp;</li>
        <li>
          {{ t("businesses-paragraph-first-title") }}
          <ul style="list-style-type:none">
            <li>{{ t("businesses-paragraph-first-line1") }}</li>
            <li>{{ t("businesses-paragraph-first-line2") }}</li>
            <li>{{ t("businesses-paragraph-first-line3") }}</li>
          </ul>
        </li>
        <li>&nbsp;</li>
        <li>
          {{ t("businesses-paragraph-second-title") }}
          <ul style="list-style-type:none">
            <li>{{ t("businesses-paragraph-second-line1") }}</li>
            <li>{{ t("businesses-paragraph-second-line2") }}</li>
            <li>{{ t("businesses-paragraph-second-line3") }}</li>
          </ul>
        </li>
      </ul>
      <div style="display: flex; justify-content: center">
        <a
          mat-flat-button
          color="primary"
          href="https://forms.gle/gCdNRg5NowYb2hec6"
          target="_blank"
        >
          {{ t("ask-more-infos") }}
        </a>
      </div>
    </div>
  </div>
</section>
