header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  flex-direction: column;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}

h1 {
  display: inline-block;
}
