@if (user$ | async) {
  @if (adminsUid().includes((user$ | async)?.uid!)) {
    <header>
      <h1>Bonjour {{ (user$ | async)?.displayName }}</h1>
      <button mat-button color="primary" (click)="logout()">
        Se déconnecter
      </button>
    </header>
    <mat-tab-group>
      <mat-tab label="Liens bas de page"><anka-admin-footer /></mat-tab>
      <mat-tab label="Sections"><anka-admin-sections /></mat-tab>
      <mat-tab label="Admin"><anka-admin-admins /></mat-tab>
    </mat-tab-group>
  } @else {
    <h1>Vous n'êtes pas autorisé à accéder à cette page.</h1>
  }
} @else {
  <button mat-button color="primary" (click)="login()">Se connecter</button>
}
