<h2 mat-dialog-title>Section</h2>
{{ sectionForm.value | json }}
<form [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Title FR</mat-label>
      <input matInput formControlName="title_FR" cdkFocusInitial />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Title EUS</mat-label>
      <input matInput formControlName="title_EUS" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Footer FR</mat-label>
      <input matInput formControlName="footer_FR" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Footer EUS</mat-label>
      <input matInput formControlName="footer_EUS" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button type="submit" [disabled]="sectionForm.invalid" mat-button>
      @if (data.mode === "add") {
        Add
      } @else if (data.mode === "edit") {
        Edit
      }
    </button>
  </mat-dialog-actions>
</form>
