<mat-accordion>
  @for (
    section of sections();
    track $index;
    let i = $index;
    let last = $last;
    let first = $first
  ) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title
          >{{ section.order }}: {{ section.title_FR }} /
          {{ section.title_EUS }}</mat-panel-title
        >
      </mat-expansion-panel-header>
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="section.keywords"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="cardFR">
            <th mat-header-cell *matHeaderCellDef>Card FR</th>
            <td mat-cell *matCellDef="let element">{{ element.card_FR }}</td>
          </ng-container>

          <ng-container matColumnDef="cardEUS">
            <th mat-header-cell *matHeaderCellDef>Card EUS</th>
            <td mat-cell *matCellDef="let element">{{ element.card_EUS }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="primary"
                matTooltip="Edit"
                (click)="editKeyword(section, element)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                matTooltip="Delete"
                (click)="deleteKeyword(section, element)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      @if (section.footer_EUS || section.footer_FR) {
        <mat-card appearance="outlined">
          <mat-card-content>
            {{ section.footer_FR }} / {{ section.footer_EUS }}
          </mat-card-content>
        </mat-card>
      }
      <mat-action-row>
        <button
          mat-button
          color="warn"
          style="margin-right: auto"
          (click)="deleteSection(section)"
        >
          Delete section
        </button>
        <button
          mat-icon-button
          matTooltip="Move Up"
          [disabled]="first"
          (click)="moveSectionUp(section)"
        >
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Move Down"
          [disabled]="last"
          (click)="moveSectionDown(section)"
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-button (click)="editSection(section)">Edit section</button>
        <button mat-button (click)="addKeyword(section)">Add keyword</button>
      </mat-action-row>
    </mat-expansion-panel>
  }
</mat-accordion>
<footer>
  <button mat-button color="primary" (click)="addSection()">Add section</button>
</footer>
