// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Aaargh,
      density: 0,
    )
  );
}

section {
  padding: 2em 1em;
  background-color: var(--bg-color-main);
  color: var(--black-color);

  @media (min-width: 600px) {
    padding: 2em;
  }

  h2 {
    color: var(--red-color);
  }

  &:nth-child(even) {
    background-color: var(--grey-color);
    color: white;

    h2 {
      color: var(--pink-color);
    }
  }
}
