@font-face {
  font-family: "Aaargh";
  src: url("../fonts/Aaargh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Aaargh", "Inter Tight", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  background-color: #e6e0e0;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

main {
  padding: 20px;
  color: black;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../images/back.jpeg") no-repeat bottom;
  background-image: image-set(
    "../images/back.avif" type("image/avif"),
    "../images/back.jpeg" type("image/jpeg")
  );
  background-size: cover;
}

footer {
  background-color: #ebe7e6;
  padding: 1em;
  min-height: 120px;
  padding: 1em;

  div {
    padding: 0;
    color: #a41916;
  }

  ul {
    list-style: none;
    padding: 0;
    color: #585755;
    margin-top: 0;

    li {
      display: inline-block;

      a {
        color: inherit;
        text-decoration: none;
        margin-left: 25px;

        &:hover,
        &:focus-visible {
          text-decoration: underline;
        }
      }
    }
  }
}

.titleCity {
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-size: 3rem;
  color: #585755;
  font-weight: 500;
}

.titleEvent {
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-size: 3rem;
  color: #a41916;
  font-weight: bold;
}

.titleYear {
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-size: 3.125rem;
  color: #ef9ec4;
  font-weight: bold;
}

.calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  width: 350px;
  height: 200px;
  margin: 0.5rem;
  background-color: #38443a;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.date-number {
  font-size: 2rem;
  font-weight: bold;
  color: #ebe7e6;
}

.event {
  color: #ebe7e6;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: 1.5fr 2.2fr;
  align-items: left;
  font-size: 1.25rem;
}

.content-head {
  font-weight: bold;
  font-size: 1.5rem;
}

#language-switcher {
  list-style: none;
  padding: 0;
  text-align: right;

  li {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.25rem;
  }
}

#language-switcher li a {
  color: #a41916;
  text-decoration: none;

  &:not(.selected):hover,
  &:not(.selected):focus-visible {
    text-decoration: underline;
  }

  &.selected {
    color: #585755;
    cursor: default;
  }
}

#keep-inform {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 10px;
    color: #566a51;
    font-weight: bold;
    font-size: 1.25rem;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }
  }
}
