body {
	margin: 0;
	padding: 0;
	font-family: "Aaargh", "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
	background-color: #e6e0e0;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
	
main {
	padding: 20px;
	color: black;
	position: relative;
	min-height: 100vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), 
				url('../images/back.jpeg') no-repeat bottom;
	background-size: cover;
}

footer {
	background-color: #ebe7e6;
	padding: 1em;
	min-height: 120px;
	padding: 1em;
}

footer div {
	padding: 0;
	color: #a41916;
}

footer ul {
	list-style: none;
	padding: 0;
	color: #585755;
	margin-top: 0;
}

footer ul li {
	display: inline-block;
}

footer ul li a,
footer ul li a:visited,
footer ul li a:hover,
footer ul li a:active {
	color: inherit;
	text-decoration: none;
	margin-left: 25px;
}

.titleCity {
	line-height: 100%;
	letter-spacing: -0.125rem;
	margin: 0;
	font-size: 3rem;
	color: #585755;
	font-weight: 500;
}

.titleEvent {
	line-height: 100%;
	letter-spacing: -0.125rem;
	margin: 0;
	font-size: 3rem;
	color: #a41916;
	font-weight: bold;
}

.titleYear {
	line-height: 100%;
	letter-spacing: -0.125rem;
	margin: 0;
	font-size: 3.125rem;
	color: #ef9ec4;
	font-weight: bold;
}

.calendar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.calendar-day {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #ddd;
	width: 350px;
	height: 200px;
	margin: 0.5rem;
	background-color: #38443a;
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.date-number {
	font-size: 2rem;
	font-weight: bold;
	color: #ebe7e6;
}

.event {
	color: #ebe7e6;
	text-align: center;
}

.content-text {
	display: grid;
	grid-template-columns: 1.5fr 2.2fr;
	align-items: left;
	font-size: 1.25rem;
}

.content-text-head {
	font-weight: bold;
	font-size: 1.5rem;
}

#language-switcher {
	list-style: none;
	padding: 0;
	text-align: right;
}

#language-switcher li {
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
	font-size: 1.25rem;
}

#language-switcher li a,
#language-switcher li a:visited,
#language-switcher li a:hover,
#language-switcher li a:active {
	color: #a41916;
	text-decoration: none;
}

#language-switcher li a.selected {
	color: #585755;
	cursor: default
}

#keep-inform {
	list-style: none;
	padding: 0;
	text-align: center;
}

#keep-inform li {
	display: inline-block;
	margin-right: 10px;
	color: #566a51;
	font-weight: bold;
	font-size: 1.25rem;
}

#keep-inform li a,
#keep-inform li a:visited,
#keep-inform li a:hover,
#keep-inform li a:active {
	color: inherit;
	text-decoration: none;
}